html {
    font-family: sans-serif;
}
    
body {
    width: 75%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}

#bannerimage {
    width: 100%;
    background-image: url(img/banner.jpg);
    height: 300px;
    background-position: center;
}

#output {
    width: 100%;
}
