@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-gap: 2rem;

    grid-template-areas:
        "main sideinfo"
        "main footer";

    background: url(img/horrible_background.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
}

#output {
    width: 80%;
    height: 70px;
    resize: none;
}

main {
    grid-area: main;
    background: rgba(224, 255, 255, 0.8);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

    text-align: center;
}

#sideinfo {
    padding: 16px 20px;
    grid-area: sideinfo;
    background: rgba(219, 234, 255, 0.7);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);

    text-align: center;
}

footer {
    grid-area: footer;
    background: rgba(191, 234, 255, 0.7);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

    text-align: center;
}

@media only screen and (max-width: 1300px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-gap: 2rem;

        grid-template-areas:
            "main"
            "sideinfo"
            "footer"
    }
}

select {
    width: 200px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    padding: 16px 20px;
    width: 80px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

input:disabled {
    background-color: #d0d0d0;
}
